// media queries
@media screen and (max-width: 1080px)
    .about-grid
        margin-top: 0
        // grid-template-columns: 1fr
        // .about-avatar
        //     display: none
        
// @media screen and (max-width: 768px)
//     .about-grid
//         grid-template-columns: 1fr

@media screen and (max-width: 570px)
    .about-grid
        grid-template-columns: 1fr
        margin-top: -170px