// media queries
@media screen and (max-width: 1080px)
    .about-grid
        margin-top: 0
        align-items: center

    .skills-section 
        .skills-card-grid
            grid-column-gap: 1rem

    .section-footer
        .form-container 
            width: 350px

    .section-header
        font-size: 1.1rem
    .section-subheader, .footer-subheader
        font-size: 1.5rem

    .quotes-section
        .break
            display: none

    .project-container
        grid-template-columns: 1fr

    .blogs-section 
        grid-template-columns: 1fr 1fr

@media screen and (max-width: 900px)
    .about-grid 
        grid-template-columns: 1fr

        .about-avatar
            display: none

        div:nth-child(2)
            padding: 2rem 0 1rem 0

    .about-gallery
        grid-template-columns: 1fr


    .skills-section 
        .skills-card-grid
            grid-template-columns: 1fr
            
            .skills-card
                margin-bottom: 2rem


    .section-footer
        .grid
            grid-template-columns: 1fr

            div:nth-child(1)
                margin-bottom: 2rem

        .footer-base
            margin-top: 5vh
        

@media screen and (max-width: 570px)
    .blogs-section 
        grid-template-columns: 1fr

@media screen and (max-width: 425px)
    .skills-section 
        .skills-card-grid
            grid-template-columns: 1fr
            
            .skills-card
                margin-bottom: 2rem