// media queries
@media screen and (max-width: 1080px)
    .bg-img 
        display: none

    .navbar
        .nav-flex
            ul 
                li 
                    a 
                        color: $cBlack !important

    .section-container
        .header-flex
            .social-links
                display: none

    .about-grid
        margin-top: 0
        align-items: center

    .section-1
        .grid
            grid-template-columns: 1fr
            grid-gap: 2.5rem

    .section-2
        height: auto
        .grid
            grid-template-columns: 1fr
            grid-gap: 2.5rem

    .skills-section 
        .skills-card-grid
            grid-column-gap: 1rem

    .section-footer
        .form-container 
            width: 350px

    .section-header
        font-size: 1.1rem

    .section-subheader, .footer-subheader
        font-size: 1.5rem

    .quotes-section
        .break
            display: none

    .project-container
        grid-template-columns: 1fr

    .portfolioVer-continer
        grid-template-columns: 1fr
        
    .blogs-section 
        grid-template-columns: 1fr 1fr

    .design-container
        grid-template-columns: 1fr 1fr

        .design-card
            margin-bottom: 1rem

    .latest-blog-container
        grid-template-columns: 1fr

@media screen and (max-width: 900px)
    .about-grid 
        grid-template-columns: 1fr

        .about-avatar
            display: none

        div:nth-child(2)
            padding: 2rem 0 1rem 0

    .about-gallery
        grid-template-columns: 1fr


    .skills-section 
        .skills-card-grid
            grid-template-columns: 1fr
            
            .skills-card
                margin-bottom: 2rem


    .section-footer
        .grid
            grid-template-columns: 1fr

            div:nth-child(1)
                margin-bottom: 2rem

        .footer-base
            margin-top: 5vh

    .design-container
        grid-template-columns: 1fr   

@media screen and (max-width: 768px) 
    .nav-flex
        .nav-links
            display: none !important

        .hamburger-menu 
            display: flex !important

    .blog-container
        .blog-body
            padding: 2rem 2.5rem

            h1 
                margin-top: 0
                font-size: 35px


@media screen and (max-width: 570px)
    h1 
        font-size: 2.3rem !important
        line-height: 60px !important

    .about-bg
        background-position: center center !important

    .section-header
        font-size: 1rem

        &::after
            right: -95px
            width: 100px

    .container
        width: 90%

    .blogs-section 
        grid-template-columns: 1fr

    .blog-container
        .blog-body
            padding: 1.5rem 1rem

            h1 
                margin-top: 0
                font-size: 35px

    .section-footer
        .grid
            div:nth-child(2)
                width: 100%

                .form-container
                    width: 100%

@media screen and (max-width: 425px)
    .skills-section 
        .skills-card-grid
            grid-template-columns: 1fr
            
            .skills-card
                margin-bottom: 2rem