@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background: #FBFBFB;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  color: #353535;
  font-size: 50px;
}

h2 {
  color: #353535;
  font-weight: 400;
  width: max-content;
}

h3 {
  color: #353535;
  font-weight: 600;
}

h5 {
  color: #353535;
}

p {
  color: #353535;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: auto;
}

.navbar {
  height: 100px;
  display: flex;
  align-items: center;
}
.navbar .nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-flex ul {
  display: flex;
  align-items: center;
}
.navbar .nav-flex ul li {
  margin-left: 35px;
}

.btn {
  padding: 14px 40px;
  background: #D76D6D;
  color: #fff;
  outline: 2px solid #fff;
  outline-offset: -8px;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.3s ease;
  display: block;
  width: max-content;
  margin: 30px 0;
}
.btn:hover {
  outline-offset: 0;
  background: #d35c5c;
}

.section-header {
  position: relative;
  padding-right: 15px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.section-header::after {
  content: "";
  position: absolute;
  width: 145px;
  height: 2px;
  background: #D76D6D;
  top: 50%;
  right: -145px;
  transform: translateY(-50%);
}

.section-subheader {
  font-size: 1.7rem;
}

.section-container {
  display: flex;
  align-items: center;
  height: calc( 100vh - 100px );
  width: 100%;
}
.section-container h1 {
  line-height: 80px;
  font-weight: 600;
  font-size: 3rem;
}

.bg-img {
  position: absolute;
  height: 100%;
  width: 40vw;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
}

.section-1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.section-1 h1 {
  line-height: 80px;
  font-weight: 600;
  font-size: 3rem;
}
.section-1 .flex {
  display: flex;
  align-items: center;
}
.section-1 .flex .right-aside {
  width: 40vw;
  padding-left: 20px;
}
.section-1 .flex .left-aside {
  width: 60vw;
  padding-right: 20px;
}
.section-1 .flex .left-aside div {
  position: relative;
}
.section-1 .flex .left-aside .object-1, .section-1 .flex .left-aside .object-2 {
  width: auto;
  height: 330px;
  filter: drop-shadow(0px 4px 28px rgba(0, 0, 0, 0.35));
}
.section-1 .flex .left-aside .object-2 {
  margin-left: 95px;
  margin-top: -165px;
}

.section-2 {
  height: 650px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
}
.section-2 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
}
.section-2 .grid .grid-container .container-logo {
  height: 160px;
  width: 160px;
  position: relative;
  border-radius: 50%;
  margin: 3.5em auto 2.5em;
}
.section-2 .grid .grid-container .container-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90px;
  width: 90px;
}
.section-2 .grid .grid-container .logo-1 {
  background: rgba(215, 109, 109, 0.2);
}
.section-2 .grid .grid-container .logo-2 {
  background: rgba(109, 215, 132, 0.2);
}
.section-2 .grid .grid-container .logo-3 {
  background: rgba(109, 151, 215, 0.2);
}
.section-2 .grid .grid-container h5 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.section-2 .grid .grid-container p {
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
}

.section-footer {
  position: relative;
  height: 100vh;
  width: 100%;
}
.section-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #232323 0%, rgba(22, 22, 22, 0.85) 40.89%, rgba(0, 0, 0, 0.63) 100%);
}

/*# sourceMappingURL=main.css.map */
