.about-grid 
    position: relative
    display: grid
    grid-template-columns: 1fr 2fr
    grid-column-gap: 3rem
    align-items: end
    margin-top: -170px
    margin-bottom: 1rem

    .section-subheader 
        margin-bottom: 50px

    p 
        line-height: 30px
        font-size: 1.2rem

    .about-avatar
        position: relative
        width: 100%
        height: auto

        &::before
            content: ""
            position: absolute
            height: 100%
            width: 100%
            border: 2px solid $cRed
            bottom: -6%
            right: -5%

    div:nth-child(2)
        background: $dWhite
        padding: 2rem 1.5rem 1rem 1.5rem

    .about-avatar-img
        position: relative
        height: auto
        width: 100%
            
.about-gallery 
    display: grid 
    grid-template-columns: 1fr 2fr
    grid-column-gap: 5rem
    margin-bottom: 3rem
    position: relative

    img:nth-child(2)
        width: 100%
        height: 120px
        object-fit: cover


.skills-section
    padding: 3.5rem 0 4.5rem 0
    position: relative
    position: relative

    &::after
        content: ""
        height: 100%
        width: 100%
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: rgba($cWhite, 0.9)

    .section-subheader 
        margin-bottom: 2.5rem

    .skills-card-grid
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-column-gap: 5rem
        transition: all 0.5s ease

        .skills-card
            height: 400px
            width: 100%
            background: #fbfbfb
            box-shadow: 8px 7px 20px rgba(0, 0, 0, 0.1)
            transition: all 0.5s ease

            .skills-img-container
                &::before
                    content: ""
                    position: absolute
                    top: 0
                    left: 0
                    right: 0
                    bottom: 0
                    height: 100%
                    width: 100%
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.08) 0%, #000000 100%)

                h4
                    position: absolute
                    bottom: 1.5rem
                    z-index: 2
                    color: $cWhite

            .skills-card-content
                padding: 1.5rem

                ul 
                    padding-left: 1.5rem
            
                    li 
                        position: relative
                        color: $cBlack
                        margin-bottom: .5rem
                        font-size: 1.2rem

                        &::before
                            content: ""
                            position: absolute
                            height: .5rem
                            width: .5rem
                            background: $cBlack
                            left: -1.5rem
                            top: 50%
                            border-radius: 200px
                            transform: translateY(-50%)

                        span 
                            display: flex
                            align-items: center

                        img 
                            margin: 0 1rem 0 0
                            height: 24px
                            width: 24px

.portfolio-version-section
    background: red

.quotes-section
    height: 50vh
    width: 100%
    position: relative

    h4 
        color: $cBlack
        font-size: 1.5rem
        font-weight: 400
        text-align: center
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)


