*, html 
    margin: 0
    padding: 0
    box-sizing: border-box

.btn 
    padding: 14px 40px
    background: $cRed
    color: $cWhite
    outline: 2px solid $cWhite
    outline-offset: -8px
    font-size: 30px
    font-weight: 500
    transition: 0.3s ease

    &:hover
        outline-offset: 0
        background: $cRedDark