*, html 
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-behavior: smooth

.container 
    width: 80%
    max-width: 1400px
    margin: auto

.navbar 
    // padding: 30px 0
    height: 100px
    // background: red
    display: flex
    align-items: center
    .nav-flex
        display: flex
        justify-content: space-between
        align-items: center

        ul 
            display: flex
            align-items: center
            
            li 
                margin-left: 35px

.btn 
    padding: 14px 40px
    background: $cRed
    color: $cWhite
    outline: 2px solid $cWhite
    outline-offset: -8px
    font-size: 1.6rem
    font-weight: 500
    transition: 0.3s ease
    display: block
    width: max-content
    cursor: pointer

    margin: 30px 0

    &:hover
        outline-offset: 0
        outline: 2px solid transparent
        background: $cRedDark

.section-header
    position: relative
    padding-right: 15px
    margin-bottom: 10px
    font-size: 1.5rem

    &::after
        content: ''
        position: absolute
        width: 120px
        height: 2px
        background: $cRed
        top: 50%
        right: -120px
        transform: translateY(-50%) 

.section-subheader
    font-size: 1.7rem
    color: $cBlack

.section-container 
    display: flex
    align-items: center
    height: calc( 100vh - 100px )
    width: 100%

    h1 
        line-height: 80px
        font-weight: 600
        font-size: 3rem

    .header-flex 
        display: flex
        align-items: center
        justify-content: space-between

    .sidenav-menu
        display: flex
        width: 13px
        align-items: center
        justify-content: space-between
        transition: all 0.5s ease
        cursor: pointer

        .line-1
            height: 2.5rem
            width: 2px
            background: #fff
            transition: all 0.5s ease

        
        .line-2
            height: 3rem
            width: 2px
            background: #fff
            transition: all 0.5s ease

        .line-menu
            opacity: 0
            display: none
            color: $cWhite
            transition: all 1s ease

        &:hover
            width: 120px
            .line-1
                height: 0
                // opacity: 0

            .line-2
                transform: rotate(90deg)

            .line-menu 
                display: block
                opacity: 1

    .scroll-btn
        margin-top: 20vh
        .scroll-trigger 
            height: 40px
            width: 15px
            border-radius: 50px
            border: 1px solid $cBlack
            position: relative
            margin: auto

            &::after
                content: ""
                position: absolute
                left: 50%
                top: 3px
                transform: translateX(-50%)
                height: 12px
                width: 2px
                border-radius: 50px
                background: $cBlack
                transition: all 0.5s ease

        p 
            width: max-content
            margin: .8em auto 0
            color: $cBlack
            font-weight: 500

    .scroll-trigger
        &:hover
            &::after
                transform: translate(-50%, 19px)

.bg-img
    position: absolute
    height: 100%
    width: 40vw
    // background: url("../img/header-bg.jpg")
    // background-attachment: fixed
    background-repeat: no-repeat
    // background-position: center
   
    // object-fit: cover
    z-index: -1
    top: 0
    right: 0
    bottom: 0


.section-1
    height: 100vh
    width: 100%
    display: flex
    align-items: center

    h1 
        line-height: 80px
        font-weight: 600
        font-size: 3rem

    .flex 
        display: flex
        align-items: center

        .right-aside
            width: 40vw
            padding-left: 20px

        .left-aside
            width: 60vw
            padding-right: 20px

            div 
                position: relative

            .object-1, .object-2
                width: auto
                height: 330px
                filter: drop-shadow(0px 4px 28px rgba(0, 0, 0, 0.35))

            .object-2
                margin-left: 95px
                margin-top: -165px

.section-2
    height: 650px
    width: 100%
    background: $cWhite
    display: flex
    align-items: center

    .grid
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-column-gap: 2rem

        .grid-container

            .container-logo 
                height: 160px
                width: 160px
                position: relative
                border-radius: 50%
                margin: 3.5em auto 2.5em 

                img 
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    height: 90px
                    width: 90px

            .logo-1
                background: $cRed50

            .logo-2
                background: $cGreen50

            .logo-3 
                background: $cBlue50

            h5
                text-align: center
                font-size: 1.2rem
                margin-bottom: 1rem

            p 
                text-align: center
                line-height: 30px
                font-size: 1.2rem


.section-footer 
    position: relative
    height: 100vh
    min-height: 800px
    width: 100%
    padding: 5vh 0

    .overlay
        display: flex
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        height: 100%
        width: 100%
        background: linear-gradient(180deg, #232323 0%, rgba(22, 22, 22, 0.85) 40.89%, rgba(0, 0, 0, 0.63) 100%)

    .container
        z-index: 10 !important

    .grid
        display: grid
        align-items: center
        grid-template-columns: 1fr 1fr

        div 
            width: max-content
            margin: auto

    .section-header
        color: #fff

    .footer-subheader
        font-size: 2rem
        color: #fff
        margin-bottom: 2em

    .form-container 
        padding: 2.5rem 1.9rem
        background: rgba(255, 255, 255, 0.03)
        backdrop-filter: blur(3px)
        width: 450px
        height: auto

        input[type=text], textarea
            font-size: 1rem
            color: $cWhite

        input, textarea 
            display: block
            width: 100%
            background: none
            outline: none
            border: none
            border-bottom: 2px solid $cWhite
            padding: 1rem 0
            margin-bottom: 10px
            resize: none

        input::placeholder, textarea::placeholder
            height: 40px
            font-size: 1rem
            color: $cWhite
            font-family: 'Montserrat', sans-serif

        .btn 
            display: block
            width: 100%

    .footer-links
        display: flex
        align-items: center
            
        li 
            margin-right: 35px

    .footer-base
        color: $cWhite
        font-weight: 200
        font-size: .9rem
        display: block
        text-align: center
        margin-top: 12vh

        span 
            padding: 0 10px 